<div class="card--container-list">
  <% @lists.each do |list| %>
    <div class="list--card">
      <% if list.photo.present? %>
        <%= link_to cl_image_tag(list.photo.key, class: "card--img gradient-bg"), list_path(list) %>
        <% else %>
        <%= link_to image_tag("photo.png", class:"card--img"), list_path(list)%>
      <% end %>
      <div class="list--card-content">
        <h3 class="list-name"><%= list.name %></h3>
        <a><%= link_to "Edit", edit_list_path(list), class: "list-btn" %></a>
      </div>
    </div>
  <% end %>
</div>
