body, html {
  min-height: 100%;
  line-height: 1.8;
}

h1 {
  font-size: 20px;
}

h3 {
  font-size: 10px;
}

.home-container {
  background-position: center;
  background-size: cover;
  background-color: #EDF2F4;
  padding-bottom: 30px;
}

.home-contents {
  padding: 1.5em;
  // margin-bottom: 3.5em;
  height: 605px;

  h1, h3 {
    font-family: 'Poppins', sans-serif;
    color: #2B2D42;
    font-weight: bolder;
  }

  h1 {
    font-size: 3.5em;
  }

  h3 {
    font-size: 1.50em;
  }
}

span.movie {
  color: #EF233C;
}

.home-img {
  width: 6em;
}

.home--btn {
  background-color: #EF233C;
  border: none;
  color: white;
  padding: 0.75em 2em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  border-radius: 2em;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  margin-top: -3.5em;
  margin-left: 1em;

  &:hover {
    color: white;
  }
}

.home--contents-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}


@media (min-width: 768px) {
  h1 {
    font-size: 4em;
  }

  h3 {
    font-size: 2em;
  }
}
