.form--button {
  display: inline-block;
  padding: 7px 14px 7px 14px;
  border-radius: 8px;
  background-color: #EF233C;
  color: rgb(255, 255, 255);
  font-size: 15px;
  border: none;
  font-weight: bold;

  &:hover {
    background-color: #ffb1b1;
  }

  a {
    color: white;
    text-decoration: none;

    &:hover {
      color: white;
    }
  }
}

.custom-form {
  margin: 0px 250px;
  margin-bottom: 400px;
}

@media (max-width: 768px) {
  .custom-form {
    margin: 0 20px;
    margin-bottom: 460px;
  }
}

.form-group {
  margin-bottom: 20px;
}

.form-label {
  font-weight: bold;
}

.form-control {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
