<header class="home-container">
 <div class="home-contents">
  <h1>THE ULTIMATE <span class="movie">WATCH LIST</span> EXPERIENCE</h1>
  <h3>TO KEEP TRACK OF YOUR FAVOURITE MOVIES</h3>
  <div class="home--contents-2">
    <%= image_tag("willsmith.png", class: "home-img")%>
    <a href="/lists" class="home--btn">EXPLORE</a>
  </div>
 </div>
</header>
