.navbar-lewagon {
  justify-content: space-between;
  background: #8D99AE;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
}

.navbar-nav .nav-link {
  color: #EDF2F4;
  font-weight: 400;

  &:hover {
    color: #cbc9c9;
  }
}

.navbar-lewagon .nav-link {
  font-size: 20px;
}

.avatar {
  width: 50px;
}
